
.birdbox {
    object-fit: fill;
    width: 100%;
}



.flex {
    /* border: 1px solid red; */
    background-color: #f2f2f2;
    width: 70%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    
}

@media only screen and (max-width: 600px){
    @media only screen and (max-width: 480px){
        .gridOverBox {
            width: 100%;
            height: 500px;
            object-fit: cover;
            overflow: hidden;
        }
        .flex {
            width: 250px;
            height: auto;

        }

        .textflex {
            width: 40%;
            height: auto;
        }
    }
}


