
.gridone {
    background-color: #f2f2f2;
    width: 100%;
    height: auto;
   /* border: 1px solid #000; */
    object-fit: fill;
}

.gridcont {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
}