
.headimage {
  width: 100%;
  height: auto;
  
}

.headbox {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.navbar {
  width: 100%;
  height: 10%;
  position: absolute;
  display: inline;
  float: right;
  /* border: 1px solid red; */
  color: #f2f2f2;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  top: 10%;
  margin-left: 95%;
}

.navbar:hover {
  cursor: pointer;
}

.insta {
  position: absolute;
  margin-left: 93%;
}
.github {
  position: absolute;
  margin-left: 90%;
}

.headerlinks {
  margin: 1%;
  color: #f2f2f2;
}

.headerlinks:hover {
  color: #90c2f4;

}



@media only screen and (max-width:480px){

  .headimage {
    width: 100%;
    height: auto;
  }

  .navbar {
    background-color: #00aeef;
    color: #f2f2f2;
  }

  .github {
    margin-left: 70%;
  }

  .insta {
    margin-left: 80%;
  }
}